
body{
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: cornflowerblue;
    text-transform: capitalize;
}


.titulo{
    text-align: center;
    color: azure;
}
.texto_1{
    text-align: justify;
    color: azure;
}

.p1{
    color: bisque;
    font-size: larger;
    text-align: justify;
}
.li1{
    font-size: medium;
    text-align: justify;   
    list-style-type:none;
}

    ul.sidenav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    }

    ul.sidenav li a {
    display: block;
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    }
    
    ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
    }

    div.content {
    margin-top: 20%;
    padding: 20%;
    }


    table {
        border-collapse: collapse;
        background-color: rgba(95, 158, 160, 0.658);
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 10px;
    }

    tr:nth-child(even) {
    background-color: #d6eeee80;
    }
    th:nth-child(even){
        background-color: #d6eeeea5;
    }
    
    .boton1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 40px;
    }
    .boton2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 40px;
    text-decoration: none;
    }
    .boton3 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 40px;
    text-decoration: none;
    }       
    .boton1:hover {
    background-color: #88e170;
    }
    .boton2:hover {
    background-color: #dbe822;
    }
    .boton3:hover{
    background-color: rgba(165, 26, 26, 0.849);
    }
.footer{
    background-color: #242628;
    padding: 10px ;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}
